@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Twinkle+Star&display=swap');

@font-face {
  font-family: 'Caveat';
  src: url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Twinkle+Star&display=swap');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #12055c;
  z-index: -10;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

#label-file-upload {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#drag-file-element {
  position: absolute;
  border-radius: 2em;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#label-file-upload.drag-active, #label-file-upload:active {
  border-radius: 2em;
  background-color: rgb(26, 24, 85);
}

* {
  box-sizing: border-box;
}

midi-player {
  display: block;
  width: 80vh;
  height: 10vh;
  color: white;
}

midi-player::part(control-panel) {
  background: rgb(33, 2, 88);
}