@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Twinkle+Star&display=swap');

@font-face {
  font-family: 'Caveat', 'cursive';
  src: url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Twinkle+Star&display=swap');
}

.container {
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  margin-top: 3%;
  font-size: 12vh;
  font-family: 'Twinkle Star', 'cursive';
  user-select: none;

  z-index: 1;
}

.description {
  color: white;
  margin: 1%;
  font-size: 4vh;
  font-family: 'Caveat', 'cursive';

  display: flex;
  flex-direction: column;
  align-items: center;

  user-select: none;

  z-index: 1;
}

.button {
  font-family: 'Caveat', 'cursive';

  height: fit-content;
  width: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5%;
  z-index: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
