@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Twinkle+Star&display=swap');

.container {
  background-image: url("../public/images/Background1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  margin-top: 3%;
  font-size: 12vh;
  font-family: 'Twinkle Star', 'cursive';
  user-select: none;
}

.description {
  color: white;
  margin: 1%;
  font-size: 4vh;
  font-family: 'Caveat', 'cursive';

  display: flex;
  flex-direction: column;
  align-items: center;

  user-select: none;
}

.button {
  font-family: 'Caveat', 'cursive';

  height: fit-content;
  width: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5%;
  z-index: 1;
}

.img {
  width: 100%;
  height: 100%;

  user-select: none;
}

.steggy {
  width: fit-content;

  position: absolute;
  right: 10em;
  bottom: 2em;

  z-index: 0;

  user-select: none;
}

.disable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
