@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Twinkle+Star&display=swap');

.bgWrap {
  position: fixed;
  margin:-1px;
  height: 101vh;
  width: 101vw;
  overflow: hidden;
  z-index: -1;
}

.container {
  background-image: url("../public/images/Background1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  margin-top: 3%;
  font-size: 12vh;
  font-family: 'Twinkle Star', 'cursive';
  user-select: none;
}

.description {
  color: white;
  margin: 1%;
  font-size: 4vh;
  font-family: 'Caveat', 'cursive';

  display: flex;
  flex-direction: column;
  align-items: center;

  user-select: none;
}

.button {
  font-family: 'Caveat', 'cursive';

  height: fit-content;
  width: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5%;
  z-index: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
